* {
  box-sizing: border-box;
}

body {
    background-color: lightblue;
  }

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="file"]::file-selector-button {
    border: 2px solid #4CAF50;
    padding: 0.4em 0.6em;
    border-radius: 0.2em;
    background-color: #4CAF50;
    transition: 1s;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }

  button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}